{% extends "base.html" %}

{% block content %}
  <h1>Shoe Catalog</h1>
  <div class="row">
    {% for shoe in shoes %}
      <div class="col-md-4 mb-3">
        <div class="card">

          <img class="card-img-top" src="{{ shoe[1] }}" alt="{{ shoe[0] }}">
          <div class="card-body">
            <h5 class="card-title">{{ shoe[0] }}</h5>
            <p class="card-text">{{ shoe[2] }}</p>
            <a href="{{ url_for('edit_shoe', name=shoe[0]) }}" class="btn btn-primary">Edit</a>
            <a href="{{ url_for('delete_shoe', name=shoe[0]) }}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{{ url_for('add_shoe') }}" class="btn btn-success">Add Shoe</a>
{% endblock %}
